<html>
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
  <body>
    <br><br>
    <div id="account" style="margin: auto ;width:500px;height:500px">
      <form method="post" action="login">
        <form>
          <h1 class="h3 mb-3 fw-normal">sign in</h1> 
          <div class="form-floating">
            <input type="text" class="form-control" name="floatingInput" placeholder="name">
            <label for="floatingInput">Username</label>
          </div>
          <div class="form-floating">
            <input type="password" class="form-control" name="floatingPassword" placeholder="Password">
            <label for="floatingPassword">Password</label>
          </div>
      
          <div class="checkbox mb-3">
          </div>
          <button class="w-100 btn btn-lg btn-primary" type="submit">Sign in</button>
          <br><br>
          <p class="mt-5 mb-3 text-muted"></p>
        </form>
        <button class="w-100 btn btn-lg btn-primary" onclick="window.location.href='register'">Register</button>
    </div>
  </body>
</html>